.roadMap {
  height: 100vh;

  .baseImage {
    object-fit: contain;
    width: 100%;
    height: auto;
  }

  .cityAndCloudsWrapper {
    height: 100vh; // position absolute city
    background: url("/clouds.png"), linear-gradient(171deg, rgba(104,0,255,1) 0%, rgba(53,0,150,1) 35%) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .cityImageWrapper {

      position: absolute;
      bottom: 0;
    }
  }

  .roadmapWrapper {
    background: #FFB717;
  }
}



