.roadMap {
  height: 100vh;

  .baseImage {
    object-fit: contain;
    width: 100%;
    height: auto;
  }

  .cityAndCloudsWrapper {
    height: 100vh; // position absolute city
    background: blue url("/clouds.png") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .cityImageWrapper {

      position: absolute;
      bottom: 0;
    }
  }

  .roadmapWrapper {
    background: yellowgreen;
  }
}



