.navLink {
  color: white;
  padding: 2px 5px;
  text-transform: lowercase;
  border-radius: 5px;

  &:hover {
    text-decoration: none;
    background: #00B0CA;
    color: white;
  }
}

.active {
  font-weight: 900;
}
