.teamCardWrapper {
  position: relative;
  color: white;
  margin-bottom: 30px;

  &:nth-child(1),
  &:nth-child(2) {
    width: 400px;
    margin: auto;

    @media screen and (max-width: 767px) {
      width: auto;
    }
  }
}

.imageWrapper {
  position: relative;
  height: 500px;

  @media screen and (max-width: 767px) {
    height: auto;
  }
}

.memberInfo {
  position: relative;

  span {
    display: block;
  }
}

.name {
  font-size: 25px;
  margin: 5px 0;
}

.role,
.position{
  text-transform: uppercase;
  font-weight: bold;
}

.description {
  margin-top: 10px;
  position: relative;
}