.teamCardWrapper {
  position: relative;
  color: white;
  margin-bottom: 30px;
}

.imageWrapper {
  position: relative;
}

.memberInfo {
  position: relative;

  span {
    display: block;
  }

  .nameAndSocialWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    svg {
      width: 30px;
      margin-bottom: 10px;
      height: 30px;
    }
  }
}

.name {
  font-size: 25px;
  margin: 5px 0;
}

.role,
.position{
  text-transform: uppercase;
  color: #00B0CA;
}

.description {
  margin-top: 10px;
  position: relative;
}