.heroWrapper {
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url("https://res.cloudinary.com/baffle-space/image/upload/v1662207537/my-uploads/pata_de_culoare_mlyzxk.svg"), linear-gradient(#231f20, #2c0f55);
}
