.uniwhaleImg {
  animation: MoveUpDown 2.5s linear infinite;
  position: absolute;
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);

  }
}