.logoWrapper {
  svg {
    margin-left: auto;

    @media screen and (max-width: 768px) {
      margin: auto;
    }
  }
}

.footerSocials {
  margin-top: 20px;
  color: #fff;

  > div {
    justify-content: flex-end;
  }
}