.cls1 {
  fill:#ffb000;
}
.cls2 {
  fill:#ffdf71
}
.cls3 {
  fill:#ffc900
}
.cls4 {
  fill:#ffd600
}
.cls5 {
  fill:#ff9b00
}
.cls6 {
  fill:#ffbf00
}
.cls7 {
  fill:#ffd41e
}
.cls8 {
  fill:#ffa700
}
.cls9 {
  fill:#ffc200
}
.cls10 {
  fill:#ff8900
}
.cls11 {
  fill:#ff6400
}

.logoWrapper {
  display: block;
  width: 70px;
  height: 70px;
}