.logoWrapper {
  display: block;
}

.st0{fill:#007E9D;}
.st1{fill:#004D7C;}
.st2{fill:#006588;}
.st3{fill:#00B2CA;}
.st4{fill:#008BAA;}
.st5{fill:#007DA4;}
.st6{fill:#00B0CA;}
.st7{fill:#0085A4;}
.st8{fill:#008FAB;}
.st9{fill:#07CCDB;}
.st10{fill:#006488;}
.st11{fill:#007EA1;}
.st12{fill:#0092AE;}
.st13{fill:#00B2CC;}
.st14{fill:#00B1C6;}
.st15{fill:#006487;}