.roadWrapper {
  width: 650px;
  margin: 0 auto 60px;
  display: flex;
  gap: 20px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.roadContent {
  background: #2B2B2B;
  padding: 0 15px;
  width: 450px;
}

.roadDescriptions {
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > p {
    position: relative;

    &:nth-child(1) {
      top: 45px;
    }

    &:nth-child(2) {
      top: 72px;
    }

    &:nth-child(3) {
      top: 82px;
    }

    &:nth-child(4) {
      top: 82px;
    }

    &:nth-child(5) {
      top: 82px;
    }

    &:nth-child(6) {
      top: 82px;
    }

    &:nth-child(7) {
      top: 54px;
    }

    &:nth-child(8) {
      top: 32px;
    }
  }
}

.roadElement {
  display: flex;
  height: 170px;
}


.quarterText {
  color: #FFC000;
  font-weight: 900;
  font-size: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &::after {
    content: '';
    width: 6px;
    height: 90px;
    background-color: #9E9E9E;
    position: absolute;
    right: 0;
  }

  span {
    display: block;
    font-weight: 400;
    font-size: 25px;
  }

  @media screen and (max-width: 767px) {
    padding-right: 0;
    font-size: 10vw;
  }
}

.noBorder {
  &::after {
    display: none;
  }
}

.checkpointDescription {
  font-size: 30px;
  line-height: 36px;
  font-weight: 900;
  color: #9E9E9E;

  span {
    display: block;
    font-weight: 400;
    font-size: 20px;
  }
}

.current {
  color: #FFC000;
}

.rocketLaunch {
  width: 650px;
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;

  @media screen and (max-width: 767px) {
    width: auto;
    flex-direction: column;
    margin-bottom: 40px;
    border-top: 1px solid #CCC;
    margin-top: 40px;
  }
}

.launchCol1 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;

  @media screen and (max-width: 767px) {
    position: static;
  }
}

.launchCol2 {
  display: flex;
  align-items: center;
  text-align: left;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    text-align: center;
  }
}

