@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



.roadWrapper {
  width: 650px;
  margin: 0 auto 60px;
  text-align: center;

  @media screen and (max-width: 768px) {
    width: auto;
  }
}

.roadInfo {
  color: #fff;
  border-bottom: 1px solid #0BC5EA;
  padding-bottom: 50px;
  margin-bottom: 50px;
  transition: all 0.3s ease-in-out;

  &:last-child {
    border: 0;
  }
}

.jobDone {
  color: #0BC5EA;
}

.notStarted {
  color: #555555;
}

.workInProgress {
  color: #fff;
}

.iconWrapper {
  text-align: center;
  margin-bottom: 15px;

  svg {
    transition: all 0.3s ease-in-out;
    margin: auto;
    width: 40px;
    height: 30px;
  }

  .gearIcon {
    animation: rotating 4s linear infinite;
  }
}

.quarterAndYear {
  font-size: 40px;
  font-weight: 900;

  @media screen and (max-width: 768px) {
    font-size: 35px;
  }
}

.title {
  font-size: 30px;
  font-weight: 900;

  @media screen and (max-width: 768px) {
    font-size: 25px;
  }
}

.subtitle {
  font-size: 20px;

  @media screen and (max-width: 768px) {
    font-size: 17px;
  }
}

