.sectionWrapper {
  display: flex;
  gap: 50px;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.topics {
  position: sticky;
  top: 15px;
  align-self: flex-start;

  @media screen and (max-width: 767px) {
    background: #444242;
    padding: 15px;
    border-radius: 5px;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    z-index: 20;
  }

  li {
    margin-bottom: 10px;

    @media screen and (max-width: 767px) {
      display: inline-block;
      margin-right: 10px;
      padding-right: 10px;
      border-right: 2px solid #fff;
      margin-bottom: 5px;

      &:last-child {
        margin-right: 0;
        padding-right: 0;
        border-right: 0;
      }
    }
  }

  a {
    color: #fff;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.content {
  flex-basis: 80%;
  color: #fff;
  font-size: 19px;
  line-height: 31px;
  border-left: 2px solid #444242;
  padding-left: 35px;

  @media screen and (max-width: 767px) {
    flex-basis: 100%;
    border-left: 0;
    padding-left: 0;
    padding-bottom: 30px;
  }

  > section {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    p {
      margin-bottom: 15px;
    }
  }


  ol {
    list-style: inside;

    li ol {
      padding-left: 50px;
    }
  }

  a {
    text-decoration: underline;
    font-weight: bold;
  }
}

.nestedTitle {
  display: inline-block;
  background: 0;
  padding: 0;
  border-radius: 10px;
}