.checkpoint {
  display: flex;
  gap: 20px;
  align-items: center;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    justify-content: center;
    gap: 0;
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.description {
  text-align: left;

  @media screen and (max-width: 767px) {
    text-align: center;
    margin-top: 20px;
  }
}

.quarter {
  background: #2B2B2B;
  padding: 20px;
}

.mobileRoadWrapper {
  display: none;

  @media screen and (max-width: 767px) {
    display: block;
  }
}

.quarterText {
  color: #FFC000;
  font-weight: 900;
  font-size: 40px;

  span {
    display: block;
    font-weight: 400;
    font-size: 25px;
  }

  @media screen and (max-width: 767px) {
    font-size: 10vw;
  }
}

.checkpointDescription {
  font-size: 30px;
  line-height: 36px;
  font-weight: 900;
  color: #9E9E9E;

  span {
    display: block;
    font-weight: 400;
    font-size: 20px;
  }
}

.current {
  color: #FFC000;
}